header{
    background-color: #002171;
    color: white;
}
nav{
    background-color:#BBDEFB;
}
h2{
    color: #1976d2;
    font-weight: medium;
}
dt{
    color: #002171;
}
.resort{
    color: #1976D2;
}
body{
    background-color:white
}